.hero-container {
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100%;
  min-height: 100vh;
  z-index: -100;
}

.hero-title {
  font-family: "Bungee Outline", cursive;
  font-size: 4rem;
}

.hero-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.hero-title button {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  padding: 1rem;
  background-color: rgb(235, 156, 11);
  border: none;
  border-radius: 15px;
  width: 400px;
}
.hero-title button:hover {
  background-color: rgba(235, 156, 11, 0.7);
  transition: all 0.5s;
}
